*{
  margin: 0;;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  background-color: rgb(31, 156, 127);
}
.row{
  margin-top: 100px;
}

.task-list {
  height: 400px;
  background-color:#b3d8cf;
  padding: 10px;
  box-shadow: 0 0 20px rgb(16, 16, 20);
  border-radius: 5px;
  overflow-y:scroll;
  
  
}
h3{
  
  text-align: center;
  color: rgb(0, 9, 7);
  text-transform:uppercase;
}
h1{
  color: azure;
  margin: auto;
  padding: 10px;
}
header{
  width: 100%;
  background-color: rgb(37, 110, 94);
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(16, 16, 20);
  right: 0;
  position: fixed;
}
.task-item {
  /* text-align: center; */
  
  background-color: #fff;
  margin: 10px 10px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 10px rgb(16, 16, 20);
  cursor: move;
  transition: background-color 0.9s ease;
  transition: scale 0.3s linear;
  transition: box-shadow 0.3s linear;
  overflow:hidden;
}

.task-list :hover{
  
  scale: 1.06;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background-color: rgb(119, 210, 188);
}
.task-list p:hover{
  scale: 1;
  box-shadow: 0px 0px 0px rgb(253, 253, 254);
}
.task-list h5:hover{
  scale: 1;
  box-shadow: 0px 0px 0px rgb(253, 253, 254);
}
.trash {
  border: 1px solid #ff0000;
  border-radius: 5px;
  z-index: 1;
  min-height: 100px;
  padding: 10px;
  background-color: #f8d7da;
  text-align: center;
  box-shadow: 0 0 20px rgb(16, 16, 20);
  cursor: pointer;
}
.button{
  margin:30px;
  width: 150px;
  padding: 20px;
  border: 1px solid rgb(67, 17, 196);
  border-radius: 8px;
  background-color: rgb(199, 247, 231);
  
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transition: all 0.1s linear;
}

.button:hover{
  box-shadow: 0px 20px 20px -10px #000;
  transform: scaleX(1.1);
}




@media (max-width: 768px) {
  .task-list {
      min-height: 300px;
  }
}

@media (max-width: 576px) {
  .task-list {
      min-height: 200px;
  }
}
 


 
